*,::after,::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.outer-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid black;
    width:500px;
    height:500px;
    text-align: center;
}
.inner-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 2px solid black;
    width:400px;
    height: 400px;
    margin: 20px;
    text-align: center;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border:2px solid black;
    width:300px;
    height: 300px;
    margin:10px;
    text-align: center;
}