* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;   
  align-items: center;       
  background-color: #f4f4f4;
}

.card {
  width: 350px;
  background: #88ccda;
  border-radius: 10px;
  border: 1px solid #ddd;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card img {
  padding:20px;
  width: 100%;
  height: 200px;
  background-color: rgb(219, 196, 170);
}

.content {
  padding: 16px;
}
.main{
    display:flex;
    flex-direction: row;
    gap:20px;
}
.design{
    background-color: white;
}
.tag {
  display: inline-block;
  background-color: #efe6ff;
  color: #7e22ce;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.block {
  display: inline-block;
  background-color: #efe6ff;
  height: 18px;
  width: 300px;
  padding: 4px 8px;
  margin-bottom: 10px; 
}

.content h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #111;
  background-color: white;
}

.content p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  background-color: white;
}

.author {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 600;
  color: #333;
}
 @media screen and (max-width:400px){
    .main{
        flex-direction: column;
      background-color: #2272ce;
    }
 }