.productSection {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.productCard {
  width: 220px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background: white;
}

.productCard img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.productCard p {
  margin: 4px 0;
}

.productCard.light {
  background-color: #ffffff;
  color: #000;
}

.productCard.dark {
  background-color: #1e1e1e;
  color: #fff;
}
