body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2c2c;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.profileOfStudent {
  width: 300px;
  margin: 0 auto 30px;
  border-radius: 12px;
  padding: 15px;
  background-color: #fff;
  text-align: center;
}

.profileOfStudent div {
  margin-bottom: 6px;
}

h3 {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}
