*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
nav{
 background-color: rgb(221, 153, 153);
}
main{
    background-color: rgb(127, 192, 192);
}
footer{
     background-color: rgb(198, 161, 233);
}
.container{
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr 8fr 2fr;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0; 
    left: 0;              
    width: 100%;           
    height: 50px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:20px;
}
.nav_links {
  text-decoration: none;
}
.content{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  margin: 100px 100px 100px 100px;
  gap: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer{
    display:flex;
    justify-content: space-around;
}
footer ul{
    list-style: none;
}
footer a{
    text-decoration: none;
}