*,::after,::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 248, 251);
    line-height: 50px;
}
h1{
    text-align: center;
}
.container{
    height: 300px;
    width: 400px;
    border-radius: 30px;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding:50px;
}
#todo-items{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.todo-item{
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    line-height: 40px;
    width:300px;
    background-color: beige;
    gap:50px;
    border-radius: 30px;
    padding: 2px 10px;
}
.add-btn{
    background-color: rgb(242, 238, 238);
    border-radius: 10px;
    width: 80px;
}


