*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
div{
    text-align:center
}
div > div{
    display:inline-block;
    width: 200px;
    height:300px;
    background-color: aquamarine;
}
.linear div:nth-of-type(1){
    background: linear-gradient(rgb(0, 170, 255),red);
}
.linear div:nth-of-type(2){
    background: linear-gradient(to right, rgb(255, 0, 174),green,yellow);
}
.linear div:last-of-type{
    background: linear-gradient(130deg,yellow,violet,blue);
}
.radial div:nth-of-type(1){
    background: radial-gradient(rgb(0, 170, 255),red);
}
.radial div:nth-of-type(2){
    background: radial-gradient(farthest-side, rgb(255, 0, 174),green,yellow);
}
.radial div:nth-of-type(3){
    background: radial-gradient(closest-side, rgb(255, 0, 21),green,yellow);
}
.conic div:nth-of-type(1){
    background: conic-gradient(rgb(0, 170, 255),red,violet,blue);
}
.conic div:nth-of-type(2){
    background: conic-gradient(rgb(0, 255, 140),rgb(255, 0, 157),rgb(130, 222, 238),blue);
}
.conic div:nth-of-type(3){
    background: conic-gradient(rgb(0, 170, 255),red,violet,blue);
}