*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
div > div{
    width: 200px;
    height:300px;
    background-color: rgb(89, 224, 179);
    margin: 10px auto;
}
div div:last-child{
    background-color: rgb(169, 122, 213);
}
.child:active{
    background-color: aquamarine;
}
.child:hover{
    background-color: blanchedalmond;
}
.elements p::before{
    content:"Neha";
}
.elements p::first-letter{
    content:"";
    color:aquamarine
}
.elements p::first-line{
    content:"";
    color:greenyellow;
}