*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
nav{
 background-color: rgb(221, 153, 153);
}
main{
    background-color: rgb(127, 192, 192);
}
footer{
     background-color: rgb(198, 161, 233);
}
.container{
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr 8fr 2fr;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0; 
    left: 0;              
    width: 100%;           
    height: 50px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:20px;
}
.nav_links {
  text-decoration: none;
}
.content{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  margin: 100px 100px 100px 100px;
  gap: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer{
    display:flex;
    justify-content: space-around;
}
footer ul{
    list-style: none;
}
footer a{
    text-decoration: none;
}
 @media screen and (max-width:400px){
    nav{
        background-color: rgb(126, 126, 185);
        display:flex;
        flex-direction:column;
    }
 }
  @media screen and (min-width:450px){
    footer{
        background-color: rgb(255, 0, 195);
    }
 }
  @media screen and (max-width:300px){
    footer{
        background-color: rgb(0, 255, 110);
        display:flex;
        flex-direction:column;
    }
 }
   @media screen and (max-width:330px){
    .content{
        background-color: rgb(166, 0, 255);
        display:flex;
        flex-direction:column;
    }
 }
 @media screen and (max-width:450px) and (min-width:600px){
     .content{
        background-color: rgb(255, 0, 21);
    }
 }
