*,*::after,*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin-top: 100px;
}
main{
    width:80vw;
    padding:5%;
    margin:0 auto;
    border:1px solid black;
    background-color: antiquewhite;
    border-radius:  20px;
}
h1{
    text-align: center;
}
.timer{
    text-align: end;
    font-weight: 800;
    text-decoration: underline wavy;
}
.options{
    margin: 30px 0;
}
ul{
    list-style: none;
}
li{
    border:1px solid black;
    padding : 10px;
    margin:10px 0;
    border-radius: 8px;
    cursor:pointer;
}
.buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button{
    padding:10px 35px;
    border-radius: 8px;
    border:1px solid black;
    font-size:1rem;
    cursor:pointer;
    background-color: transparent;
}
