 body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
  }

  h1 {
    color: rgb(12, 200, 255);
    margin-bottom: 40px;
  }

  .chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 300px;
    width: 80%;
    margin: auto;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
  }

  .bar {
    width: 50px;
    background-color: green;
    text-align: center;
    color: white;
    margin: 0 10px;
  }

   .year {
    margin-top: 5px;
  } 