/* Root variables */
:root {
  --btn-color: rgb(0, 179, 255);
  --bg-color: white;
  --default: rgb(0, 62, 128);
}
body {
  background-color: var(--bg-color);
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  background-color: white;
}

h1 {
  text-align: center;
  color: black;
  font-size: 30px;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;             
  justify-content: space-evenly; 
  gap: 20px;                    
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column; 
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  flex: 1 1 250px;     /* grow, shrink, base width */   
  background: white;
  max-width: 300px
}

.card img {
  width: 80%;
  height: auto;
  border-radius: 10px 10px 0 0;
  margin: 10px;
}

.card h2 {
  color: var(--btn-color);
  margin: 10px 0 5px;
  font-size:large;
}

.card p {
  color: #1d1919;
  font-weight: bold;
}
