*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.wave {
  display: flex; 
  gap: 40px;
}
.container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* animation: waveMove 1.5s ease-in-out 0.3s infinite; */
  animation-name: waveMove;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.content1 {
  background-color: #ff7675;
  animation-delay: 0s;
}
.content2 {
  background-color: #660836;
  animation-delay: 0.15s;
}
.content3 {
  background-color: #55ef83;
  animation-delay: 0.3s;
}
.content4 {
  background-color: #0c4730;
  animation-delay: 0.45s;
}
.content5 {
  background-color: #330434;
  animation-delay: 0.6s;
}
@keyframes waveMove {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Use from/to → for simple start → end animations
Use % → for multi-step, complex motion sequences */