/* *, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
    background-color: bisque;
    display:flex;
    flex-direction: column;
    height: 400px;
    width:600px;
    justify-content: end;
    border-radius: 20px solid black;
}
.box{
    background-color: blue;
    height:100px;
    width:100px;
    border-radius:50px;
}
.box:hover{
    position:absolute;
    margin-left:350px;
    margin-bottom:350px;
    background-color: rgb(37, 5, 17);
}
.box{
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0.5s;
} */



*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
   height: 100%;
   width: 100%;
   background-image: url();
   background-repeat: no-repeat;
   background-position: center;
}
.box{
   height:100px;
   width:100px;
   background-image: url();
   background-repeat: no-repeat;
   background-size: contain;
   position:absolute;
   left:5%;
   bottom:5%;
}
body:hover .box{
   left:100%;
   bottom:100%;
}
.transition{
  transition-property: all;
  transition-duration: 2s;
}