*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 100px;
}

.container .box{
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
    background-color: rgb(0, 255, 183);
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    border: solid black;
    border-width: 2px 10px;
}
body:hover .box {
    transform: scale(1.2);
    transform: scale(0.4, 1.5); /*0.4 gets applied in x-axis(horizontally & 1.5 gets applied also checkout scalex(),scaleY()*/
    transform: rotate(45deg);  /*will rotate clockwise by 45deg */
    transform: rotate(-45deg); /* will rotate anticlockwise by 45 deg*/
    transform: rotate(0.5turn); /* 1 turn = 360deg and rest behaviour is same*/
    transform: skew(30deg);
    transform: skew(30deg, 45deg); /*skew in both (x,y) direction*/
    transform: translate(100%);
    transform: translate(400px);
    /* checkout: translateX(), translateY()*/

    /* 
      for translate: 
      x -> -ve -> left
      x -> +ve -> right
      y -> +ve -> down
      y -> -ve -> up 
    */

    /* NOTE: we acn combine all thetransform attributes */
    /* NOTE: try to find and understand these two transforms */
    transform: translate(200px) rotate(90deg);
    transform: rotate(90deg) translate(200px);
}
