*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    display: grid;
    color:rgb(18, 15, 15);
    width:100vw;
    height:100vh;

}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px;
    border-right: 1px solid black;
}
.navbar a{
    text-decoration: none;
    color:rgb(218, 227, 227);
    border-bottom: 1px solid rgb(202, 197, 197);
    padding-bottom: 2px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 1rem;
}
#settings{
    position:fixed;
    text-align: left;
    bottom:20px;
    left:20px;
    width:calc(20% - 40px);
}
.content{
    display: grid;
    grid-template-rows: 1fr 10fr 1.5fr ;
}
.title{
    background-color:rgb(162, 255, 0);
    margin: 10px auto;
    font-weight: 900;
}
.suggestions{
    background-color: rgb(0, 208, 255);
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:20px;
}
.suggestion{
    border:1px solid red;
    width:300px;
    height:100px;
    display:grid;
    place-items: center;
    cursor:pointer;
}
.chat{
   margin: 0 auto;
}
.chat.text{
    width: 70%;
    padding:10px;
    border-radius: 8px;
}
.chat.btn{
    padding:10px 20px;
    background-color: inherit;
    border:1px solid white;
    color: white;
    border-radius: 5px;
    cursor:pointer;
}