body{
    box-sizing: border-box;
    /* margin:0;
    padding:0; */
}
.grid{
    width:60;
    height:70vh;
    border: 1px solid rgb(139, 153, 51);
    display:grid;
    /* grid-template-columns: 100px 100px; */
    /* grid-template-columns: 50% 200px 100px; */
    /* grid-template-columns: repeat(3,30%); */
    /* grid-template-columns: minmax(100px, 200px) 300px; */
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "a a"
    "b c"
    "b d";
}
.yellow{
    background-color: yellow;
    /* grid-column-start: 1;
    grid-column-end:3; */
    /* grid-column: 1/3; */
    grid-area: a;
}
.green{
    background-color: green;
      /* grid-row-start: 2;
      grid-row-end:4; */
      /* grid-row:2/4; */
      grid-area: b;
}
.pink{
  background-color: pink;
  grid-area: c;
}
.red{
    background-color: red;
    grid-area: d;
}
/* .aqua{
    background-color: aqua;
}
.brown{
    background-color: brown;;
} */
