*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
}

.form {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    line-height: 60px;
    text-align: center;
    border-radius: 20px;
}

#btn {
    background-color: rgb(86, 133, 215);
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    color: black;
    font-size: large;
    margin-top: 20px;
}

.err {
    color: red;
}

.dashboard {
    display: none;
    text-align: center;
    font-size: larger;
    border: 2px solid black;
    border-radius: 20px;
    height: 500px;
    width: 500px;
    padding: 40px 20px;
    line-height: 30px;
}
.quote {
    margin-top: 70px;
    font-style: italic;
}
#pause{
    width:80px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(121, 121, 174);
}